@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .turn-device {
        display: flex
    }

    .overlay {
        display: none;
    }

    #ingame_menu {
        display: none;
    }

    canvas {
        display: none;
    }
    #game_infos{
        display: none !important;
    }
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 48px;
    }

    .turn-device-text {
        font-size: 24px;
    }
}

@media only screen and (max-width: 450px){
    .privacy-policy{
        overflow: scroll !important;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 32px;
    }

    .turn-device-text {
        font-size: 16px;
    }
}

@media only screen and (max-height: 480px) {
    body {
        margin: 0;
    }

    canvas {
        height: 100vh;
        border-radius: 0;
    }

    h1 {
        display: none;
    }

    #content {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .overlay-image {
        border-radius: 0;
    }

    .mobile-controls {
        display: flex
    }

    footer {
        display: none;
    }
    .privacy-policy{
        overflow: scroll;
    }
}