@font-face {
    font-family: 'kablammo';
    src: url('/fonts/kablammo.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/img/5_background/desert_background.jpeg');
    background-size: cover;
    background-position:center ;
    font-family: 'kablammo', Arial, Helvetica, sans-serif;
}

canvas{
    background-color: black;
    display: block;
    border-radius: 16px;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    user-select: none;
}

span{
    cursor: pointer;
}

#overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 16px;
}

#ingame_menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 480px;
    width: 720px;
    border-radius: 16px;
}

.ingame_icon{
    display: flex;
    position: absolute;
    font-size: 32px;
    color: rgb(255, 219, 0);
    filter: drop-shadow(5px 5px 5px #222);
    top: 16px;
    gap: 32px;
    user-select: none;
}

#start_screen{
    height: 480px;
    width: 720px;
    border-radius: 16px;
}

.button_bar{
    display: flex;
    position: absolute;
    top: 32px;
    gap: 64px;
    font-size: 32px;
    color: rgb(255, 219, 0);
    filter: drop-shadow(5px 5px 5px #222);
    letter-spacing: 2px;
    user-select: none;
}

span:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 720px) {
    canvas{
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas{
        height: 100vh;
    }
    h1{
        display:none;
    }
}